@model Auction.BLL.ViewModels.IndexViewModel<News>
@using Auction.DAL.Models;
@using Newtonsoft.Json;
@using Auction.BLL.ViewModels;



<div id="newsContainer">
    @{ 
        Html.RenderPartial("NewsPartial");
    }
</div>