@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>



<address>
    <strong>Email:</strong> <a href="mailto:solontsov04s@gmail.com">solontsov04s@gmail.com</a><br />
    <strong>GitHub</strong> <a href="https://github.com/hunter3UA">GitHub</a>
</address>