@model Auction.BLL.ViewModels.IndexViewModel
@using Auction.API.Helpers
@{
    ViewBag.Title = "Головна";
}

 
    @foreach (var item in Model.Lots)
    {
        <div id="lotItem">
            @item.LotName





        </div>



    }



<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
