USE [AuctionDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19.12.2021 12:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountTypes]    Script Date: 19.12.2021 12:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTypes](
	[AccountTypeId] [int] IDENTITY(1,1) NOT NULL,
	[AccountTypeName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AccountTypes] PRIMARY KEY CLUSTERED 
(
	[AccountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19.12.2021 12:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 19.12.2021 12:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[fk_AccountTypeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Logins] PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lots]    Script Date: 19.12.2021 12:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lots](
	[LotId] [int] IDENTITY(1,1) NOT NULL,
	[LotName] [nvarchar](500) NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsSoldOut] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LotCode] [bigint] NOT NULL,
	[SoldAt] [datetime] NULL,
	[fk_SellerId] [int] NOT NULL,
	[fk_CategoryId] [int] NULL,
	[ShopptingCart_ShoppingCartId] [int] NULL,
 CONSTRAINT [PK_dbo.Lots] PRIMARY KEY CLUSTERED 
(
	[LotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 19.12.2021 12:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[PictureId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[IsTittle] [bit] NOT NULL,
	[LotId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Pictures] PRIMARY KEY CLUSTERED 
(
	[PictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopptingCarts]    Script Date: 19.12.2021 12:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopptingCarts](
	[ShoppingCartId] [int] NOT NULL,
	[fk_UserId] [int] NULL,
 CONSTRAINT [PK_dbo.ShopptingCarts] PRIMARY KEY CLUSTERED 
(
	[ShoppingCartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.12.2021 12:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Balance] [float] NOT NULL,
	[RegistredAt] [datetime] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[fk_LoginId] [int] NOT NULL,
	[fk_ShoppingCartId] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountTypes] ON 

INSERT [dbo].[AccountTypes] ([AccountTypeId], [AccountTypeName]) VALUES (1, N'User')
INSERT [dbo].[AccountTypes] ([AccountTypeId], [AccountTypeName]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[AccountTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'Антикваріат')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'Нерухомість')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Транспорт')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Logins] ON 

INSERT [dbo].[Logins] ([LoginId], [Email], [PasswordHash], [PasswordSalt], [IsEnabled], [fk_AccountTypeId]) VALUES (1, N'hunter@gmail.com', 0x87AEED0F783B562201F86EBD1A542D16EDA44D11C578757CDA2ADF7417C2FA9DA3C1CC77C0FDF114A2B65E28E8616863640FE9B6442B096782639434B71B4257, 0x32C2F06C615AD2106FDF63AAA56C179206042550AC581C6F0256448D6CFB5679184D2382A57B738DDFDD4182FFEE5A4C055E3440B9932319BA7F9FECF7E2861B, 1, 1)
INSERT [dbo].[Logins] ([LoginId], [Email], [PasswordHash], [PasswordSalt], [IsEnabled], [fk_AccountTypeId]) VALUES (4, N'hunters@gmail.com', 0x3382F6DE65D3464F00EEA28C932CC3344C9F65CCBEF2755900EFAF37048D47EBDF950E5B62167C79410FF909F3719CD2267213693FCD6659FF21543FA232AEBC, 0x89A1E3CDFA77406D23D36038BCD638FA54E3F5871D035478780837CC34313C4E78499394014B8B95590AC54AFC26460BB0A4CFCBD0F5F73D37507FD4E2230AF4, 1, 1)
SET IDENTITY_INSERT [dbo].[Logins] OFF
GO
SET IDENTITY_INSERT [dbo].[Lots] ON 

INSERT [dbo].[Lots] ([LotId], [LotName], [Price], [Description], [IsSoldOut], [CreatedAt], [LotCode], [SoldAt], [fk_SellerId], [fk_CategoryId], [ShopptingCart_ShoppingCartId]) VALUES (1, N'First', 1000, N'This is first Lot', 0, CAST(N'2021-12-18T13:03:19.370' AS DateTime), 318877146996861, NULL, 1, 1, NULL)
INSERT [dbo].[Lots] ([LotId], [LotName], [Price], [Description], [IsSoldOut], [CreatedAt], [LotCode], [SoldAt], [fk_SellerId], [fk_CategoryId], [ShopptingCart_ShoppingCartId]) VALUES (2, N'PhotoMainTest', 1500, N'fsdfsdfs', 0, CAST(N'2021-12-18T14:18:16.577' AS DateTime), 318877169482884, NULL, 1, 1, NULL)
INSERT [dbo].[Lots] ([LotId], [LotName], [Price], [Description], [IsSoldOut], [CreatedAt], [LotCode], [SoldAt], [fk_SellerId], [fk_CategoryId], [ShopptingCart_ShoppingCartId]) VALUES (3, N'test', 1000, N'1111111', 0, CAST(N'2021-12-18T19:26:59.117' AS DateTime), 318877262095585, NULL, 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[Lots] OFF
GO
SET IDENTITY_INSERT [dbo].[Pictures] ON 

INSERT [dbo].[Pictures] ([PictureId], [Name], [Path], [IsTittle], [LotId]) VALUES (22, N'Note_637754555887355787.jpg', N'E:\epam\Auction\Auction\Auction.API\Pictures\3', 1, 3)
INSERT [dbo].[Pictures] ([PictureId], [Name], [Path], [IsTittle], [LotId]) VALUES (23, N'Note_637754558223385528.jpg', N'E:\epam\Auction\Auction\Auction.API\Pictures\1', 1, 1)
SET IDENTITY_INSERT [dbo].[Pictures] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [PhoneNumber], [Balance], [RegistredAt], [IsEnabled], [fk_LoginId], [fk_ShoppingCartId]) VALUES (1, N'Oleksandr', N'Solontsov', NULL, 0, CAST(N'2021-12-18T12:52:22.013' AS DateTime), 0, 1, NULL)
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [PhoneNumber], [Balance], [RegistredAt], [IsEnabled], [fk_LoginId], [fk_ShoppingCartId]) VALUES (2, N'fsdfd', N'sfdsdf', NULL, 0, CAST(N'2021-12-18T20:42:42.043' AS DateTime), 0, 4, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Logins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Logins_dbo.AccountTypes_fk_AccountTypeId] FOREIGN KEY([fk_AccountTypeId])
REFERENCES [dbo].[AccountTypes] ([AccountTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logins] CHECK CONSTRAINT [FK_dbo.Logins_dbo.AccountTypes_fk_AccountTypeId]
GO
ALTER TABLE [dbo].[Lots]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lots_dbo.Categories_fk_CategoryId] FOREIGN KEY([fk_CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Lots] CHECK CONSTRAINT [FK_dbo.Lots_dbo.Categories_fk_CategoryId]
GO
ALTER TABLE [dbo].[Lots]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lots_dbo.ShopptingCarts_ShopptingCart_ShoppingCartId] FOREIGN KEY([ShopptingCart_ShoppingCartId])
REFERENCES [dbo].[ShopptingCarts] ([ShoppingCartId])
GO
ALTER TABLE [dbo].[Lots] CHECK CONSTRAINT [FK_dbo.Lots_dbo.ShopptingCarts_ShopptingCart_ShoppingCartId]
GO
ALTER TABLE [dbo].[Lots]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lots_dbo.Users_fk_SellerId] FOREIGN KEY([fk_SellerId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lots] CHECK CONSTRAINT [FK_dbo.Lots_dbo.Users_fk_SellerId]
GO
ALTER TABLE [dbo].[Pictures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pictures_dbo.Lots_LotId] FOREIGN KEY([LotId])
REFERENCES [dbo].[Lots] ([LotId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pictures] CHECK CONSTRAINT [FK_dbo.Pictures_dbo.Lots_LotId]
GO
ALTER TABLE [dbo].[ShopptingCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopptingCarts_dbo.Users_ShoppingCartId] FOREIGN KEY([ShoppingCartId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ShopptingCarts] CHECK CONSTRAINT [FK_dbo.ShopptingCarts_dbo.Users_ShoppingCartId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Logins_fk_LoginId] FOREIGN KEY([fk_LoginId])
REFERENCES [dbo].[Logins] ([LoginId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Logins_fk_LoginId]
GO
/****** Object:  StoredProcedure [dbo].[stp_Picture_SetTittle]    Script Date: 19.12.2021 12:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stp_Picture_SetTittle]
	@LotId bigint,
	@PictureId bigint
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
		BEGIN TRANSACTION
			UPDATE Pictures
			SET IsTittle=0
			WHERE LotId=@LotId

			UPDATE Pictures
				Set IsTittle=1
			Where PictureId=@PictureId


		COMMIT


	END TRY

	BEGIN CATCH
		Rollback
	END CATCH
END
GO
