@model Auction.BLL.ViewModels.UserModel

@if (Model.Email != null)
{
    <p>Ідентифікатор: @Model.LoginId</p>
    <p>Ім'я: @Model.FirstName</p>
    <p>Прізвище: @Model.LastName</p>
    <p>Пошта: @Model.Email</p>


}
else
{
    <div class="text-danger">
        Користувача не знайдено
    </div>
}

