


<div>
    @using(Ajax.BeginForm("GetUserInfo",null,new AjaxOptions { UpdateTargetId="searchedUser" },null)) {
        @Html.AntiForgeryToken()
       <label>Введіть Email користувача</label>
       <input type="text" name="userToSearch" />
       <input type="submit"  value="Пошук"/>
    }
</div>





<div id="searchedUser">
 
</div>

<div>
    @ViewBag.ErrorMsg
</div>