<div id="passwordArea">

        @using (Html.BeginForm("SendResetToken", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p>Пошта:<input type="email" name="Email"</p>
            <input type="submit" value="Оновити пароль" />
        }

</div>
