@model Auction.BLL.ViewModels.LotModel

@{
    string picturePrevName = string.Empty;
    string pictureMainName = string.Empty;

}

<div class="flex-container">
    <div class="flex-item-col" style="width:30%">
        <div id="lightSlider">
            @{ if (Model.Pictures.Count() > 0)
                {
                    foreach (var picture in Model.Pictures)
                    {
                        {
                            picturePrevName = Path.GetFileNameWithoutExtension(picture.Name)
                            + "_"
                            + "gallery"
                            + Path.GetExtension(picture.Name);
                            pictureMainName = Path.GetFileNameWithoutExtension(picture.Name)
                            + "_"
                            + "main"
                            + Path.GetExtension(picture.Name);

                        }

                        <li data-thumb="/Pictures/@picture.LotId/@picturePrevName">
                            <img src="~/Pictures/@picture.LotId/@pictureMainName" />
                        </li>
                    }
                }
                else
                {
                    <li data-thumb="/Content/img/noImage_gallery.png">
                        <img src="~/Content/img/noImage_main.png" />
                    </li>

                }
            }
        </div>
    </div>
    <div class="flex-item-col">
        Text
    </div>
</div>

@section scripts{

<script type="text/javascript">
        $(document).ready(function () {
            $("#lightSlider").lightSlider({

                gallery: true,
                item: 1,
                loop: true,
                sliderMargin: 0,
                thumbItem: 9,
                verticalHeight: 501


            });
        })
</script>
}