@model IEnumerable<Auction.DAL.Models.Picture>


@{ 
    string picturePrevName = string.Empty;
    string pictureMainName = string.Empty;

}

<ul id="lightSlider">

    @{ if (Model.Count() > 0)
       {


              foreach (var picture in Model)
              {
                   {
                                picturePrevName = Path.GetFileNameWithoutExtension(picture.Name)
                                + "_"
                                + "gallery"
                                + Path.GetExtension(picture.Name);
                                pictureMainName = Path.GetFileNameWithoutExtension(picture.Name)
                                + "_"
                                + "main"
                                + Path.GetExtension(picture.Name);

                   }

                            <li data-thumb="/Pictures/@picture.LotId/@picturePrevName">
                                <img src="~/Pictures/@picture.LotId/@pictureMainName" />

                                @using(Ajax.BeginForm("PictureSetAsTittle",new { lotId=picture.LotId,  pictureId=picture.PictureId },null))
                                 {
                                    <input type="submit" value="Всатновити як головну" />


                                 }
                            </li>
              }
       }
       else
       {
              <li data-thumb="/Content/img/noImage_gallery.png">
                  <img src="~/Content/img/noImage_main.png" />
              </li>

        }

    }


    
</ul>

    
<script>

    


   
    @*var btnSetTittle = document.querySelector("#btnSetTittle");
    btnSetTittle.addEventListener('click', function () {
        
        let url = `/Lot/PictureSetAsTittle/@Model.First().LotId/@Model.First().PictureId`;
        console.log(url);
        let xhrRequest = new XMLHttpRequest();
        xhrRequest.open("GET", url);


        xhrRequest.send();





    })*@



</script>    
    
    
    



