@model Auction.BLL.ViewModels.LotModel



<div style="display:flex;margin-top:100px;">
    <div style="width:200px;height:200px;border:1px solid black;">
        fsd
    </div>
    <div>
        @*<div class="row form-group">

            @Html.LabelFor(m => m.LotName, "Назва: ", htmlAttributes: new { @class = "col-sm-2" })
            <div class="col">
                @Html.LabelFor(m => m.LotName, htmlAttributes: new { @class = "form-control" })
                <small>
                    @Html.ValidationMessageFor(m => m.LotName, "", new { @class = "text-danger" })
                </small>
            </div>
        </div>*@
        <div>
            <label class="col-sm2">Назва: Картина </label>
        </div> 
        <div>
            <label class="col-sm2">Назва: Картина </label>
        </div>




    </div>
    <div style="padding-left:100px;">
        Код:1231231231


    </div>





</div>

